
<!DOCTYPE html>
<html>
  <head>
    <title>GossipProject</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="ZXG68Vbv6VlyJ1eeOXnHeHkHpVaJj3wZSwH/amq2KnantR8cSSQw5DrvBvovuj76gu917gBgG5KMV09AD+Ps3g==" />
    
    <link rel="stylesheet" media="all" href="/assets/cities.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/application.self-f0d704deea029cf000697e2c0181ec173a1b474645466ed843eb5ee7bb215794.css?body=1" data-turbolinks-track="reload" />
    <script src="/assets/rails-ujs.self-81c572f39b69ead02e3f97fe43b76954a434591bc2837e3a35af212315e67569.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/activestorage.self-1ed4604ac2170045f1ffca4edb81a75246661555e4f9cf682bb8a21825e32e1c.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/action_cable.self-69fddfcddf4fdef9828648f9330d6ce108b93b82b0b8d3affffc59a114853451.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/cable.self-8484513823f404ed0c0f039f75243bfdede7af7919dda65f2e66391252443ce9.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/cities.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/application.self-eba3cb53a585a0960ade5a8cb94253892706bb20e3f12097a13463b1f12a4528.js?body=1" data-turbolinks-track="reload"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://www.thehackingproject.org/">THP /</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/index">Bienvenue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


    
<div class="container p-5" style="min-height:600px">
    <div class="card text-center">

        <div class="card-header">
            <h5 class="card-title">
            Cherlynside
            </h5>
        </div>


        <div class="card-body">
            <div class="list-group">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p><a href="/gossips/22" class="list-group-item list-group-item-action">by anonymous, click here</a></p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="well">
                        <p>Title : Reaper</p>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p><a href="/gossips/28" class="list-group-item list-group-item-action">by anonymous, click here</a></p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="well">
                        <p>Title : Winston</p>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p><a href="/gossips/29" class="list-group-item list-group-item-action">by anonymous, click here</a></p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="well">
                        <p>Title : Winston</p>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <p><a href="/gossips/35" class="list-group-item list-group-item-action">by anonymous, click here</a></p>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="well">
                        <p>Title : Sombra</p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-lg-start text-muted">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-light text-muted" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
  </body>
</html>
